---
permalink: "/submit-a-store/"
layout: page
tags: submit
---

<div id="submit-a-store" class="grid">
  <div class="grid_item">
  <h2>Submit a Shopify store</h2>
    <p>Seen a Shopify store you like? Or designed and/or developed a store that you're proud of? Submit the URL and a credit below.</p>
    {% if site.ajaxify_contact_form %}
      <form id="submit-form" class="form-stacked">
        <input type="text" name="email" class="field-light" placeholder="{{ site.text.contact.email }}">
        <input type="text" name="site" class="field-light" placeholder="{{ site.text.contact.site }}">
        <input type="text" name="credit" class="field-light" placeholder="{{ site.text.contact.credit }}">
        <input type="text" name="_gotcha" style="display:none" />
        <button type='submit' class="button button-blue button-big mobile-block">{{ site.text.contact.submit }}</button>
      </form>
    {% else %}
      <form action="https://formspree.io/{{ site.email }}" method="POST" id="submit-form" class="form-stacked">
        <input type="text" name="email" class="field-light" placeholder="{{ site.text.contact.email }}">
        <input type="text" name="site" class="field-light" placeholder="{{ site.text.contact.site }}">
        <input type="text" name="credit" class="field-light" placeholder="{{ site.text.contact.credit }}">
        <input type="hidden" name="_next" value="{{ site.baseurl }}/thanks/" />
        <input type="hidden" name="_subject" value="{{ site.text.contact.subject }}" />
        <input type="text" name="_gotcha" style="display:none" />
        <input type="submit" class="button button-blue button-big mobile-block" value="{{ site.text.contact.submit }}">
      </form>
    {% endif %}

    <p class="return-link"><a href="{{ site.url }}">Return to gallery</a></p>
  </div>
</div>

{% if site.ajaxify_contact_form %}
  {% include ajaxify_content_form.html %}
{% endif %}
