<footer>
	<div id="more-info" class="grid">
		<div class="grid__item small--one-whole one-half large--one-third push--large--one-third">
			<h2>In a nutshell...</h2>
			<p>We love Shopify and wanted to create a showcase that gives merchants insight into what’s possible on Shopify and inspire other designers and developers using the platform.</p>

			<nav class="site-nav">
		      {% include navigation.html %}
		    </nav>
		</div>

		<div class="grid__item small--one-whole one-half large--one-third push--large--one-third right-side">
			<h2>Need help with your Shopify store?</h2>
			<p class="footer-link">Looking to launch an e-commerce store or need help with your existing Shopify store? As <a href="https://experts.shopify.com/hatch-inc?ref=hatch-inc" target="_blank">certified Shopify experts</a>, we’re experienced in all things Shopify. Let’s talk!
				<br><br> 
				<a href="http://www.hatchinc.co" target="_blank"><span class="underline">Get in touch</span>&nbsp; &#8594;</a>
			</p>
		</div>
	</div>

	<div id="footer-bottom-bar" class="grid">
		<div class="grid__item small--one-whole one-half large--one-third newsletter-form">
	      <form action="//hatchinc.us8.list-manage.com/subscribe/post?u=3abae1c2b95263205e4988aee&amp;id=1071b45add" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" class="form-vertical">
	        <div class="input-group">
	          <input type="email" value="" placeholder="Subscribe" name="EMAIL" id="Email" class="input-group-field" autocorrect="off" autocapitalize="off">
	          <span class="input-group-btn">
	            <button type="submit" name="subscribe" id="subscribe">
	              <span class="right-arrow">&rarr;</span>
	            </button>
	          </span>
	        </div>
	      </form>
		</div>

		<div class="grid__item small--one-whole one-half large--two-thirds copyright-text">
			<p>&copy; {{ site.time | date: "%Y" }} <a href="http://www.hatchinc.co" target="_blank">Hatch Inc.</a> All screenshots &copy; of their respective owners.</a></p>
		</div>
	</div>
</footer>

{% if site.enable_anchorjs %}<!-- AnchorJS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/3.0.0/anchor.min.js"></script>
<script>
    anchors.options.visible = 'always';
    anchors.add('article h2, article h3, article h4, article h5, article h6');
</script>{% endif %}