/* Contents */


/*

#General
#Submit A Store
#404

*/

/*============ #General ===========*/

p.return-link {
	a {
		padding-bottom: 3px;
		border-bottom: 1px solid #b2b1b1;
	}
}

/*============ #Submit A Store ===========*/

#submit-a-store {
	padding-top: 70px;
	padding-bottom: 70px;
	max-width: 400px;
	margin: 0 auto;
	margin-top: 65px;

	p {
		padding-top: 10px;
	}

	#submit-form {
		padding: 15px 0 40px 0;

		input {
			margin-bottom: 10px;
		}

		input[type=submit] {
			margin-top: 22px;
			margin-bottom: 0;
			@extend h2;
			color: #fff;
		}

		::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		  color: #b2b1b1;
		}
		::-moz-placeholder { /* Firefox 19+ */
		  color: #b2b1b1;
		}
		:-ms-input-placeholder { /* IE 10+ */
		  color: #b2b1b1;
		}
		:-moz-placeholder { /* Firefox 18- */
		  color: #b2b1b1;
		}
	}
}

/*============ #404 ===========*/

.four-o-four {
	margin-top: 65px;
	padding-top: 70px;
	padding-bottom: 70px;
}
